# Merge plan of checkin_checkout__gyms

In [1]:
import pandas as pd

In [2]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout = checkin_checkout.replace(" ", None)
checkin_checkout = checkin_checkout.dropna()
checkin_checkout = checkin_checkout.astype(
    {
        "checkin_time": "datetime64[ns]",
        "checkout_time": "datetime64[ns]",
        "calories_burned": int,
    }
)

checkin_checkout = checkin_checkout.drop_duplicates()
checkin_checkout["user_id"] = checkin_checkout["user_id"].str.strip()
checkin_checkout["duration"] = (
    checkin_checkout["checkout_time"] - checkin_checkout["checkin_time"]
)

gyms = pd.read_csv("../data/raw/gym_locations_data.csv")

gyms = gyms.drop("facilities", axis=1)

merged_data1 = pd.merge(checkin_checkout, gyms, on="gym_id")
merged_data1.info()
merged_data1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298500 entries, 0 to 298499
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298500 non-null  object
 1   gym_id           298500 non-null  object
 2   checkin_time     298500 non-null  datetime64[ns]
 3   checkout_time    298500 non-null  datetime64[ns]
 4   workout_type     298500 non-null  object
 5   calories_burned  298500 non-null  int64
 6   duration         298500 non-null  timedelta64[ns]
 7   location         298500 non-null  object
 8   gym_type         298500 non-null  object
dtypes: datetime64[ns](2), int64(1), object(5), timedelta64[ns](1)
memory usage: 20.5+ MB

(298500, 9)

In [3]:
users = pd.read_csv("../data/raw/users_data.csv")

users = users.replace(" ", None)
users = users.dropna()
users = users.astype(
    {
        "age": int,
        "sign_up_date": "datetime64[ns]",
    }
)
users = users.drop_duplicates()
users = users.drop("birthdate", axis=1)
users.info()
users.shape

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 5299
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            5000 non-null   object
 1   first_name         5000 non-null   object
 2   last_name          5000 non-null   object
 3   age                5000 non-null   int64
 4   gender             5000 non-null   object
 5   sign_up_date       5000 non-null   datetime64[ns]
 6   user_location      5000 non-null   object
 7   subscription_plan  5000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 351.6+ KB

(5000, 8)

In [4]:
merged_data2 = pd.merge(users, merged_data1, on="user_id")
merged_data2.info()
merged_data2.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298500 entries, 0 to 298499
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            298500 non-null  object
 1   first_name         298500 non-null  object
 2   last_name          298500 non-null  object
 3   age                298500 non-null  int64
 4   gender             298500 non-null  object
 5   sign_up_date       298500 non-null  datetime64[ns]
 6   user_location      298500 non-null  object
 7   subscription_plan  298500 non-null  object
 8   gym_id             298500 non-null  object
 9   checkin_time       298500 non-null  datetime64[ns]
 10  checkout_time      298500 non-null  datetime64[ns]
 11  workout_type       298500 non-null  object
 12  calories_burned    298500 non-null  int64
 13  duration           298500 non-null  timedelta64[ns]
 14  location           298500 non-null  object
 15  gym_type           298500 non-null  object
dtypes: datetime64[ns](3), int64(2), object(10), timedelta64[ns](1)
memory usage: 36.4+ MB

(298500, 16)

In [5]:
merged_data2.to_csv(
    "../tests/test_data/expected/checkin_checkout__gyms__users.csv",
    index=False,
)