# Cleaning plan of checkin_checkout

In [20]:
import pandas as pd

### Nulls?

In [21]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300058 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          300058 non-null  object
 1   gym_id           299826 non-null  object
 2   checkin_time     299813 non-null  object
 3   checkout_time    299779 non-null  object
 4   workout_type     299812 non-null  object
 5   calories_burned  299791 non-null  float64
dtypes: float64(1), object(5)
memory usage: 13.7+ MB

In [22]:
# Check for nulls
checkin_checkout = checkin_checkout.replace(" ", None)
print("Num of nulls: " + str(checkin_checkout.isnull().any(axis=1).sum()))
print(checkin_checkout.shape)

Num of nulls: 1501
(300058, 6)

In [23]:
print("Number of missing values per column")
for col in checkin_checkout.columns:
    print(f"{col}: {checkin_checkout[col].isnull().sum()}")

Number of missing values per column
user_id: 232
gym_id: 232
checkin_time: 245
checkout_time: 279
workout_type: 246
calories_burned: 267

> 1269 ~ 0.5% (0.4229...%) -> Not a lot thus it can be removed

In [24]:
checkin_checkout = checkin_checkout.dropna()
print("Num of nulls: " + str(checkin_checkout.isnull().any(axis=1).sum()))
print(checkin_checkout.shape)
checkin_checkout.info()

Num of nulls: 0
(298557, 6)
<class 'pandas.core.frame.DataFrame'>
Index: 298557 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298557 non-null  object
 1   gym_id           298557 non-null  object
 2   checkin_time     298557 non-null  object
 3   checkout_time    298557 non-null  object
 4   workout_type     298557 non-null  object
 5   calories_burned  298557 non-null  float64
dtypes: float64(1), object(5)
memory usage: 15.9+ MB

### Correct data types?

In [25]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout = checkin_checkout.replace(" ", None)
checkin_checkout = checkin_checkout.dropna()
checkin_checkout.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298557 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298557 non-null  object
 1   gym_id           298557 non-null  object
 2   checkin_time     298557 non-null  object
 3   checkout_time    298557 non-null  object
 4   workout_type     298557 non-null  object
 5   calories_burned  298557 non-null  float64
dtypes: float64(1), object(5)
memory usage: 15.9+ MB

In [26]:
checkin_checkout.head()

,user_id,gym_id,checkin_time,checkout_time,workout_type,calories_burned
0,user_4305,gym_6,2023-02-12 06:51:00,2023-02-12 08:36:00,CrossFit,1385.0
1,user_42,gym_8,2023-01-04 12:53:00,2023-01-04 13:19:00,Weightlifting,1856.0
2,user_3801,gym_10,2023-04-07 20:07:00,2023-04-07 21:53:00,Pilates,1128.0
3,user_1776,gym_9,2023-04-07 07:30:00,2023-04-07 08:52:00,Swimming,833.0
4,user_44,gym_7,2023-07-27 20:29:00,2023-07-27 20:59:00,Swimming,724.0

In [27]:
checkin_checkout["checkin_time"] = checkin_checkout["checkin_time"].astype(
    "datetime64[ns]"
)
checkin_checkout["checkout_time"] = checkin_checkout["checkout_time"].astype(
    "datetime64[ns]"
)
print(checkin_checkout.info())
checkin_checkout.head()

<class 'pandas.core.frame.DataFrame'>
Index: 298557 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298557 non-null  object
 1   gym_id           298557 non-null  object
 2   checkin_time     298557 non-null  datetime64[ns]
 3   checkout_time    298557 non-null  datetime64[ns]
 4   workout_type     298557 non-null  object
 5   calories_burned  298557 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 15.9+ MB
None

,user_id,gym_id,checkin_time,checkout_time,workout_type,calories_burned
0,user_4305,gym_6,2023-02-12 06:51:00,2023-02-12 08:36:00,CrossFit,1385.0
1,user_42,gym_8,2023-01-04 12:53:00,2023-01-04 13:19:00,Weightlifting,1856.0
2,user_3801,gym_10,2023-04-07 20:07:00,2023-04-07 21:53:00,Pilates,1128.0
3,user_1776,gym_9,2023-04-07 07:30:00,2023-04-07 08:52:00,Swimming,833.0
4,user_44,gym_7,2023-07-27 20:29:00,2023-07-27 20:59:00,Swimming,724.0

In [28]:
# Possibly a better way...
checkin_checkout = checkin_checkout.astype(
    {"checkin_time": "datetime64[ns]", 
     "checkout_time": "datetime64[ns]"}
)

print(checkin_checkout.info())
checkin_checkout.head()

<class 'pandas.core.frame.DataFrame'>
Index: 298557 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298557 non-null  object
 1   gym_id           298557 non-null  object
 2   checkin_time     298557 non-null  datetime64[ns]
 3   checkout_time    298557 non-null  datetime64[ns]
 4   workout_type     298557 non-null  object
 5   calories_burned  298557 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 15.9+ MB
None

,user_id,gym_id,checkin_time,checkout_time,workout_type,calories_burned
0,user_4305,gym_6,2023-02-12 06:51:00,2023-02-12 08:36:00,CrossFit,1385.0
1,user_42,gym_8,2023-01-04 12:53:00,2023-01-04 13:19:00,Weightlifting,1856.0
2,user_3801,gym_10,2023-04-07 20:07:00,2023-04-07 21:53:00,Pilates,1128.0
3,user_1776,gym_9,2023-04-07 07:30:00,2023-04-07 08:52:00,Swimming,833.0
4,user_44,gym_7,2023-07-27 20:29:00,2023-07-27 20:59:00,Swimming,724.0

In [29]:
temp_list = []
for x in checkin_checkout["calories_burned"]:
    temp_list.append(x.is_integer())
series = pd.Series(temp_list)
print(series.sum())
print(checkin_checkout.shape)

298557
(298557, 6)

> Thus all the values are integers

In [30]:
checkin_checkout["calories_burned"] = checkin_checkout[
    "calories_burned"
].astype(int)

print(checkin_checkout.info())
checkin_checkout.head()

<class 'pandas.core.frame.DataFrame'>
Index: 298557 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298557 non-null  object
 1   gym_id           298557 non-null  object
 2   checkin_time     298557 non-null  datetime64[ns]
 3   checkout_time    298557 non-null  datetime64[ns]
 4   workout_type     298557 non-null  object
 5   calories_burned  298557 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 15.9+ MB
None

,user_id,gym_id,checkin_time,checkout_time,workout_type,calories_burned
0,user_4305,gym_6,2023-02-12 06:51:00,2023-02-12 08:36:00,CrossFit,1385
1,user_42,gym_8,2023-01-04 12:53:00,2023-01-04 13:19:00,Weightlifting,1856
2,user_3801,gym_10,2023-04-07 20:07:00,2023-04-07 21:53:00,Pilates,1128
3,user_1776,gym_9,2023-04-07 07:30:00,2023-04-07 08:52:00,Swimming,833
4,user_44,gym_7,2023-07-27 20:29:00,2023-07-27 20:59:00,Swimming,724

### Duplicates?

In [31]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout = checkin_checkout.replace(" ", None)
checkin_checkout = checkin_checkout.dropna()
checkin_checkout = checkin_checkout.astype(
    {"checkin_time": "datetime64[ns]", "checkout_time": "datetime64[ns]", "calories_burned": int}
)
checkin_checkout.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298557 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298557 non-null  object
 1   gym_id           298557 non-null  object
 2   checkin_time     298557 non-null  datetime64[ns]
 3   checkout_time    298557 non-null  datetime64[ns]
 4   workout_type     298557 non-null  object
 5   calories_burned  298557 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 15.9+ MB

In [32]:
print("Num of duplicates: " + str(checkin_checkout.duplicated().sum()))
print(checkin_checkout[checkin_checkout.duplicated()])

Num of duplicates: 57
           user_id  gym_id        checkin_time       checkout_time  \
12520   user_3884   gym_10 2023-09-11 09:06:00 2023-09-11 10:26:00
21879   user_2357    gym_5 2023-09-08 07:54:00 2023-09-08 08:57:00
57722   user_3340    gym_4 2023-06-03 18:49:00 2023-06-03 20:46:00
69065   user_4520    gym_5 2023-08-29 15:46:00 2023-08-29 17:43:00
85192   user_3463    gym_8 2023-08-04 15:05:00 2023-08-04 16:43:00
89777    user_913    gym_8 2023-05-29 07:15:00 2023-05-29 08:29:00
93411   user_1001    gym_6 2023-06-18 13:41:00 2023-06-18 15:21:00
95017   user_1596    gym_4 2023-06-25 16:34:00 2023-06-25 17:47:00
104050    user_24    gym_9 2023-01-20 12:13:00 2023-01-20 12:50:00
104383   user_815    gym_5 2023-03-03 09:40:00 2023-03-03 11:15:00
110915  user_4069    gym_9 2023-07-04 09:55:00 2023-07-04 11:32:00
111616  user_2685    gym_1 2023-08-15 09:43:00 2023-08-15 11:01:00
117036  user_3736    gym_4 2023-05-09 09:26:00 2023-05-09 10:38:00
119033  user_4705    gym_1 2023-02-15 11:03:00 2023-02-15 12:56:00
120345  user_3342    gym_7 2023-02-14 17:26:00 2023-02-14 18:41:00
125427  user_3532   gym_10 2023-04-23 13:20:00 2023-04-23 15:05:00
125458  user_1753    gym_9 2023-03-07 20:56:00 2023-03-07 22:36:00
129293  user_1977    gym_1 2023-04-05 08:50:00 2023-04-05 10:09:00
130409  user_2853    gym_5 2023-10-10 17:30:00 2023-10-10 19:04:00
139634  user_3334    gym_9 2023-06-18 08:27:00 2023-06-18 10:06:00
148367   user_958   gym_10 2023-10-08 07:56:00 2023-10-08 09:17:00
151130   user_404    gym_6 2023-03-26 08:53:00 2023-03-26 09:20:00
163701  user_2847    gym_7 2023-07-15 06:14:00 2023-07-15 07:12:00
165986  user_1578   gym_10 2023-07-01 15:21:00 2023-07-01 17:21:00
190961  user_3040    gym_1 2023-06-23 15:50:00 2023-06-23 17:21:00
197265  user_4657    gym_5 2023-06-07 15:18:00 2023-06-07 17:03:00
199017   user_255    gym_2 2023-03-25 08:18:00 2023-03-25 08:45:00
208018  user_4425   gym_10 2023-03-13 16:46:00 2023-03-13 18:51:00
208686    user_19   gym_10 2023-04-16 19:34:00 2023-04-16 19:57:00
209967  user_4116    gym_6 2023-02-28 20:45:00 2023-02-28 22:06:00
210657  user_3368    gym_4 2023-03-17 18:19:00 2023-03-17 19:44:00
214247  user_2920    gym_9 2023-09-17 16:28:00 2023-09-17 18:16:00
215878  user_1053    gym_8 2023-03-27 07:19:00 2023-03-27 08:39:00
218809  user_4845    gym_4 2023-08-17 10:18:00 2023-08-17 12:05:00
227869   user_359    gym_6 2023-10-13 09:36:00 2023-10-13 10:05:00
227896  user_2896    gym_7 2023-05-25 20:45:00 2023-05-25 22:43:00
230261   user_595    gym_9 2023-05-27 20:44:00 2023-05-27 21:14:00
230820  user_1550    gym_2 2023-01-31 10:55:00 2023-01-31 12:43:00
233805   user_356    gym_7 2023-05-27 07:27:00 2023-05-27 08:03:00
240318  user_3569    gym_9 2023-05-21 18:37:00 2023-05-21 19:36:00
251405  user_3412    gym_7 2023-10-08 20:51:00 2023-10-08 22:08:00
252318  user_4700    gym_8 2023-08-01 15:58:00 2023-08-01 18:00:00
255601  user_2362    gym_5 2023-03-12 14:37:00 2023-03-12 15:49:00
256623  user_2465    gym_8 2023-08-09 09:00:00 2023-08-09 10:34:00
256721  user_1377    gym_2 2023-02-02 06:12:00 2023-02-02 07:18:00
259059   user_330    gym_3 2023-07-06 15:08:00 2023-07-06 15:41:00
262654  user_3797    gym_8 2023-07-31 14:55:00 2023-07-31 16:11:00
262770  user_2927   gym_10 2023-03-11 11:05:00 2023-03-11 12:05:00
263182  user_1148    gym_1 2023-06-27 06:00:00 2023-06-27 07:25:00
271708   user_676   gym_10 2023-05-20 15:55:00 2023-05-20 16:17:00
274512  user_4389    gym_2 2023-01-07 18:38:00 2023-01-07 20:39:00
278986  user_4341    gym_6 2023-09-17 17:28:00 2023-09-17 19:19:00
279194  user_1748    gym_9 2023-04-11 13:43:00 2023-04-11 15:46:00
281424   user_252    gym_9 2023-04-02 08:27:00 2023-04-02 08:51:00
287847  user_4432    gym_1 2023-03-11 06:00:00 2023-03-11 07:44:00
290069   user_818    gym_5 2023-03-17 10:24:00 2023-03-17 11:42:00
292740  user_1834    gym_8 2023-09-29 11:23:00 2023-09-29 12:53:00

         workout_type  calories_burned
12520        Swimming              445
21879        Swimming              640
57722          Cardio              420
69065   Weightlifting              475
85192   Weightlifting             1406
89777            Yoga              291
93411   Weightlifting              693
95017   Weightlifting              644
104050        Pilates              820
104383       CrossFit             1688
110915        Pilates              706
111616        Pilates              246
117036  Weightlifting              912
119033       Swimming             1011
120345  Weightlifting              363
125427  Weightlifting             1379
125458  Weightlifting              377
129293        Pilates             1012
130409        Pilates              722
139634       CrossFit              497
148367        Pilates              820
151130        Pilates              996
163701           Yoga             1746
165986        Pilates              554
190961       Swimming              673
197265       Swimming              815
199017        Pilates             1439
208018         Cardio             1126
208686        Pilates              806
209967         Cardio              273
210657         Cardio              910
214247        Pilates              469
215878         Cardio             1539
218809       CrossFit              559
227869           Yoga              348
227896         Cardio             1650
230261           Yoga             1277
230820       CrossFit              290
233805           Yoga             1510
240318         Cardio              224
251405       Swimming              637
252318         Cardio              306
255601  Weightlifting              785
256623           Yoga             1236
256721       Swimming             1024
259059       Swimming              668
262654       Swimming              961
262770       CrossFit              545
263182       CrossFit             1297
271708           Yoga             1299
274512         Cardio              788
278986  Weightlifting              982
279194        Pilates              789
281424           Yoga             1161
287847       Swimming             1291
290069       CrossFit              383
292740       Swimming              797

> 57 ~ 0.019% -> Can be removed

In [33]:
checkin_checkout = checkin_checkout.drop_duplicates()
print("Num of duplicates: " + str(checkin_checkout.duplicated().sum()))
print(checkin_checkout.shape)

Num of duplicates: 0
(298500, 6)

### String problems?

In [34]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout = checkin_checkout.replace(" ", None)
checkin_checkout = checkin_checkout.dropna()
checkin_checkout = checkin_checkout.astype(
    {
        "checkin_time": "datetime64[ns]",
        "checkout_time": "datetime64[ns]",
        "calories_burned": int,
    }
)
checkin_checkout = checkin_checkout.drop_duplicates()
checkin_checkout.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298500 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298500 non-null  object
 1   gym_id           298500 non-null  object
 2   checkin_time     298500 non-null  datetime64[ns]
 3   checkout_time    298500 non-null  datetime64[ns]
 4   workout_type     298500 non-null  object
 5   calories_burned  298500 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 15.9+ MB

In [35]:
import random
random_row = random.choice(checkin_checkout["user_id"])
print(random_row)
print(len(random_row))
print(list(random_row))

user_2469
10
['u', 's', 'e', 'r', '_', '2', '4', '6', '9', ' ']

In [36]:
checkin_checkout["user_id"] = checkin_checkout["user_id"].str.strip()
random_row = random.choice(checkin_checkout["user_id"])
print(random_row)
print(len(random_row))
print(list(random_row))
checkin_checkout.info()

user_2409
9
['u', 's', 'e', 'r', '_', '2', '4', '0', '9']
<class 'pandas.core.frame.DataFrame'>
Index: 298500 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298500 non-null  object
 1   gym_id           298500 non-null  object
 2   checkin_time     298500 non-null  datetime64[ns]
 3   checkout_time    298500 non-null  datetime64[ns]
 4   workout_type     298500 non-null  object
 5   calories_burned  298500 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 24.0+ MB

### Duration column

In [37]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout = checkin_checkout.replace(" ", None)
checkin_checkout = checkin_checkout.dropna()
checkin_checkout = checkin_checkout.astype(
    {
        "checkin_time": "datetime64[ns]",
        "checkout_time": "datetime64[ns]",
        "calories_burned": int,
    }
)
checkin_checkout = checkin_checkout.drop_duplicates()
checkin_checkout["user_id"] = checkin_checkout["user_id"].str.strip()
checkin_checkout.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298500 entries, 0 to 300057
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298500 non-null  object
 1   gym_id           298500 non-null  object
 2   checkin_time     298500 non-null  datetime64[ns]
 3   checkout_time    298500 non-null  datetime64[ns]
 4   workout_type     298500 non-null  object
 5   calories_burned  298500 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 15.9+ MB

In [38]:
checkin_checkout["duration"] = (
    checkin_checkout["checkout_time"] - checkin_checkout["checkin_time"]
)
checkin_checkout.info()
checkin_checkout.head()

<class 'pandas.core.frame.DataFrame'>
Index: 298500 entries, 0 to 300057
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          298500 non-null  object
 1   gym_id           298500 non-null  object
 2   checkin_time     298500 non-null  datetime64[ns]
 3   checkout_time    298500 non-null  datetime64[ns]
 4   workout_type     298500 non-null  object
 5   calories_burned  298500 non-null  int64
 6   duration         298500 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(3), timedelta64[ns](1)
memory usage: 18.2+ MB

,user_id,gym_id,checkin_time,checkout_time,workout_type,calories_burned,duration
0,user_4305,gym_6,2023-02-12 06:51:00,2023-02-12 08:36:00,CrossFit,1385,0 days 01:45:00
1,user_42,gym_8,2023-01-04 12:53:00,2023-01-04 13:19:00,Weightlifting,1856,0 days 00:26:00
2,user_3801,gym_10,2023-04-07 20:07:00,2023-04-07 21:53:00,Pilates,1128,0 days 01:46:00
3,user_1776,gym_9,2023-04-07 07:30:00,2023-04-07 08:52:00,Swimming,833,0 days 01:22:00
4,user_44,gym_7,2023-07-27 20:29:00,2023-07-27 20:59:00,Swimming,724,0 days 00:30:00

### Save test data

In [ ]:
checkin_checkout = pd.read_csv("../data/raw/checkin_checkout_history.csv")

checkin_checkout = checkin_checkout.replace(" ", None)
checkin_checkout = checkin_checkout.dropna()
checkin_checkout = checkin_checkout.astype(
    {
        "checkin_time": "datetime64[ns]",
        "checkout_time": "datetime64[ns]",
        "calories_burned": int,
    }
)
checkin_checkout = checkin_checkout.drop_duplicates()
checkin_checkout["user_id"] = checkin_checkout["user_id"].str.strip()
checkin_checkout["duration"] = (
    checkin_checkout["checkout_time"] - checkin_checkout["checkin_time"]
)

checkin_checkout.to_csv(
    "../tests/test_data/expected/checkin_checkout.csv", index=False
)